doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title JSCOURSES
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css')
    link(type="Image/x-icon" href="imgs/logo.png" rel="icon")
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css')
    link(rel="stylesheet" href="styles/styles.css")
  body.body
    .modal
      .modal__container
        .modal__subcontainer
          button.modal__btnclose.btn(aria-label="закрыть модальное окно")
          h4.hreset.modal__title Начать учиться
          p.preset.modal__text Оставьте заявку и наш менеджер вам перезвонит.
          form.flex.modal__form(action="#" method="post")
            include mixin.pug
            - var classs = 'modal'
            - var nameemail = 'Ваш email'
            - var ids1 = 'name1'
            - var ids2 = 'email1'
            +form(classs, nameemail, ids1, ids2)
            input.modal__btn.btn.bluebtn(type="submit" value="Отправить")
            p.preset.modal__termsofuse Нажимая кнопку «Отправить», вы соглашаетесь с
              a(href="#").modal__link политикой конфиденциальности
    header.header.container
      .header__container.flex
        a.header__link(href="#")
          img.header__img.imgreset(src="imgs/logotip.png" alt="логотип")
        button.btn.header__menu(aria-label="модальное окно")
        ul.ulreset.header__list.flex
          - var select = [{id:'selectCustom1', article1:'Статьи', article2:'Статья1', article3:'Статья2', article4:'Статья3'},{id:'selectCustom2', article1:'Курсы', article2:'JavaScript Pro', article3:'JavaScript для новчиков', article4:'JavaScript ниндзя'},{id:'selectCustom3', article1:'Новости', article2:'Статья1', article3:'Статья2', article4:'Статья3'}, {id:'selectCustom4', article1:'О нас', article2:'Статья1', article3:'Статья2', article4:'Статья3'}]
            each list in select
              li.header__listitem.listreset
                .header__selects.selekt
                  select(id="" + list.id).header__select
                    option.header__option(data-value='1')= list.article1
                    option.header__option(data-value='2')= list.article2
                    option.header__option(data-value='3')= list.article3
                    option.header__option(data-value='4')= list.article4
        button.btn.bluebtn.header__btn Начать учиться
    main.main
      section.sectionone
        .container.sectionone__container
          h1.hreset.sectionone__title Путь JavaScript
          p.preset.sectionone__mobil Можно выделить три основных направления для прогресса JavaScript Middle...
          .sectionone__subcontainer
            picture.sectionone__img
              source(srcset="imgs/books-1mobil.webp" media="(max-width: 535px)")
              source(srcset="imgs/books1.webp" media="(max-width: 1024px)")
              img.imgreset.hreset.sectionone__imgs(src="imgs/books1.webp" alt="изображение книг")
            .sectionone__date
              .sectionone__containerspan
                span.sectionone__namber 12
                span.sectionone__dayoftheweek Апреля
          p.preset.sectionone__text Можно выделить три основных направления для прогресса JavaScript
      section.sectiontwo
        .container
          h2.hreset.sectiontwo__title.titletwo Серверный JavaScript
          .sectiontwo__container.flex
            img.imgreset.sectiontwo__img(src="imgs/quotes.svg" alt="изображение кавычек")
            p.preset.sectiontwo__text Разработчики и клиенты часто неправильно понимают, что такое система. Они видят графический интерфейс и думают, что он и есть система. Они определяют систему в терминах графического интерфейса и считают, что должны сразу начать работу с графическим интерфейсом. Они не понимают важнейшего принципа: ввод/вывод не важен.
              span.sectiontwo__span — Р. Мартин
      section.sectionthree
        .container.sectionthree__container
          picture.sectionthree__imgs
            source(srcset="imgs/mobilbooks.webp" media="(max-width: 535px)")
            source(srcset="imgs/books.webp" media="(max-width: 1024px)")
            img.imgreset.sectionthree__img(src="imgs/books.webp" alt="стопка книг")
          p.preset.sectionthree__link Реклама на
            a.sectionthree__links.link(href="#") blabla.com
      section.sectionfour
        .container.sectionfour__container
          h2.hreset.sectionfour__title.titletwo Заключение
          p.preset.sectionfour__text Синхрония осознаёт сюжетный верлибр. Мифопорождающее текстовое устройство диссонирует лирический субъект. Абстрактное высказывание пространственно просветляет деструктивный символ. Ямб, несмотря на то, что все эти характерологические черты отсылают не к единому образу нарратора, интегрирует мифопоэтический хронотоп. Действительно, ударение приводит палимпсест. Контрапункт приводит ритм.
      section.sectionfive
        .container.sectionfive__container
          h2.hreset.sectionfive__title.titlefooter Что вы думаете об этой книге?
          span.sectionfive__span.formtext Оцените статью
          .sectionfive__starcontainer.flex
            span.sectionfive__namberstar 4
            <div class="stars">
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
            </div>
          p.preset.sectionfive__formtitle.formtext Добавить комментарий к книге
          form.sectionfive__form.flex(action="#" method="post")
            include mixin.pug
            - var classs = 'sectionfive'
            - var nameemail = 'Email'
            - var ids1 = 'name2'
            - var ids2 = 'email2'
            +form(classs, nameemail, ids1, ids2)
            select(id="selectCustom5").sectionfive__select
              option.sectionfive__option(data-value='1') Выберите книгу
              option.sectionfive__option(data-value='2') JavaScript ниндзя
              option.sectionfive__option(data-value='3') Pro JavaScript Techniques
              option.sectionfive__option(data-value='4') Выразительный JavaScript
            label.sectionfive__label.sectionfive__labelbotton(for="text" aria-label="Ваш отзыв")
              span.preset.labeltext.sectionfive__labeltext Ваш отзыв
              input.sectionfive__input.input(type="text" id="text" name="text" placeholder="Ваш отзыв" required)
            input.sectionfive__btn.btn.bluebtn(type="submit" value="Отправить")
    footer.footer
      .container.footer__container
        h3.hreset.titlefooter.footer__title Похожие посты
        .swiper2
          .swiper-wrapper.footer__swiperwrapper
            - var swiper = [{src:'imgs/ReactJS.webp', span:'12 декабря', text:'События жизненного цикла ReactJS'},{src:'imgs/Grids.webp', span:'10 декабря', text:'CSS Grids. Полное руководство'},{src:'imgs/js.webp', span:'5 декабря', text:'Асинхронность в JavaScript'}]
              each list in swiper
                .swiper-slide.footer__swiper
                  .footer__swippercontainer
                  img.imgreset.footer__swipperimg(src="" + list.src , alt="изображение поста")
                  span.footer__swipperspan= list.span
                  p.preset.footer__swippertext= list.text
        .swiper-pagination

    script(src='choices.min.js')
    script(src='https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js')
    script(defer src="app.js")


